name: Update dependencies

on:
  workflow_dispatch:
  schedule:
    - cron: "0 9 * * 6"

concurrency:
  group: pdm-update
  cancel-in-progress: true

jobs:
  update-dependencies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Download fbs
        env:
            FBS_URL_ID: ${{ secrets.FBS_URL_ID }}
        run: |
            curl -L https://drive.google.com/uc?id=$FBS_URL_ID --output fbs_pro-1.2.1.tar.gz
      - name: Update dependencies
        uses: pdm-project/update-deps-action@main
